WcfServiceClientProj1/Connected Services/ServiceReference1/ConverterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Calc_bmi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="weight" type="xs:double" />
        <xs:element minOccurs="0" name="height" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_bmiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Calc_bmiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertTemperature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertTemperatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertTemperatureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertLength">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertLengthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertLengthResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertMass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element minOccurs="0" name="mass" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertMassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertMassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertEnergyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_Interest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prinAmt" type="xs:double" />
        <xs:element minOccurs="0" name="rate" type="xs:double" />
        <xs:element minOccurs="0" name="year" type="xs:double" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Calc_InterestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Calc_InterestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>